@import url(/css/imports/footer.css);
@import url(/css/imports/global.css);
@import url(/css/imports/nav.css);

/* COVER */
.cover {
  background-image: url(/images/sp1-12b.jpg);
  background-position: 0px 100px;
}

/* TEACHERS PAGE CTA */
#bring-your-students {
  padding-bottom: 120px;
}

.for-teachers-cta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
