@import url(/css/imports/footer.css);
@import url(/css/imports/global.css);
@import url(/css/imports/nav.css);

.grid-item1 {
  background: var(--purple);
  opacity: 70%;
}

.animated-img-big {
  animation-name: movedown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  top: 0px;
}

@keyframes movedown {
  100% {
    top: 0px;
  }

  50% {
    top: -10px;
  }

  0% {
    top: 0px;
  }
}

.animated-img-small {
  animation-name: moveup;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  top: -100px;
}

@keyframes moveup {
  100% {
    top: -100px;
  }

  50% {
    top: -90px;
  }

  0% {
    top: -100px;
  }
}
