@import url(/css/imports/footer.css);
@import url(/css/imports/global.css);
@import url(/css/imports/nav.css);

/* COVER */
.cover {
  background-image: url(/images/sp1-36.jpg);
}

.content2__grid__item .icon-event {
  width: 25px;
  height: auto;
  border: none;
  opacity: 90%;
  margin-bottom: -5px;
}
