@import url(/css/imports/footer.css);
@import url(/css/imports/global.css);
@import url(/css/imports/nav.css);

/* VISIT US COVER */
.visit-us-cover {
  background-image: url(/images/sp1-21c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 200px;
  padding-bottom: 80px;
}

.visit-us-cover__info {
  background: rgb(34, 55, 115, 0.8);
  width: 60%;
  margin: 0 auto;
}

.visit-us-cover__info__grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.visit-us-cover__info__grid .item {
  /* background: green; */
  display: flex;
  justify-content: center;
}

.visit-us-cover__info__grid p {
  padding: 0px;
}

.days {
  font-weight: 400;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 10px;
}

.hours {
  opacity: 80%;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 10px;
}

.planet {
  opacity: 50%;
}

.visit-us-cover__info__grid .icon-calendar,
.visit-us-cover__info__grid .icon-pin,
.visit-us-cover__info__grid .icon-mail {
  padding-top: 40px;
}

.visit-us-cover__info__grid .contact {
  padding-bottom: 40px;
}

/* SECTION ADMISSION  */

.admission-area__grid {
  padding-top: 80px;
  padding-bottom: 80px;
}

.admission-title {
  color: var(--blue);
}

.admission-info p {
  margin-bottom: 30px;
}

/* SECTION FACILITIES */

.facilities-grid {
  padding-top: 80px;
}

.content3__grid-item {
  /* background: green; */
  justify-content: start;
}

@media (max-width: 1150px) {
  .visit-us-cover {
    padding-top: 100px;
  }
  .visit-us-cover__info {
    width: 100%;
  }
  .admission-images {
    display: none;
  }
}
