
nav {
    width: 100%;
    background: var(--dark1);
    position: fixed;
    display: grid;
    grid-template-columns: .3fr .2fr 1.5fr;
    padding: 1.5rem;
    z-index: 100;
}

.nav-logo {
    display: inline;
    align-self: center;
}

.hamburger-menu {
    visibility: hidden;
    cursor: pointer;
}

.nav-links {
    text-align: right;
    align-self: center;   
}

nav ul {
    list-style: none;
    
}
nav li {
    display: inline-block;
    padding: 0;
}

/* MEDIA QUERIES */

@media (max-width: 750px) {
 
    nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        text-align: center;
        z-index: 10;
    }

    .nav-logo {
        text-align: left;   
    }

    .hamburger-menu {
        text-align: right;
        visibility: visible;
    }

    .show > * {
        display: none;
    }

    nav li {
        display: block;
        padding: 1.5rem;
        /* transition: all .3s ease-out; */
        animation: menu .6s;
        z-index: 10;
    }

    @keyframes menu {
        0% {margin-top: -100%;
            opacity: 0;
            scale: .8;}
        50% {opacity: 0;}
        100% {margin-top: 0;
            opacity: 1;
            scale: 1;}
    }

    .nav-links {
        text-align: center;
        display: grid;
        grid-column: span 2;
        z-index: 90;
    }
}