footer {
  background: var(--purple);
  min-height: 400px;
  padding: 30px;
}

.footer__main-container {
  margin-top: 30px;
}

footer img {
  width: 300px;
  margin-top: 30px;
  margin-bottom: -30px;
  display: block;
  padding-left: 30px;
}

.footer ul {
  list-style: none;
  padding: 30px;
}

.footer ul li {
  padding-top: 15px;
}

.footer a {
  font-family: nobel, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: var(--grey);
  text-decoration: none;
  text-transform: initial;
}

.footer a:hover {
  color: var(--blue);
}

.footer__main-container__col3__cta {
  background: var(--grey);
  padding: 10px 30px;
  position: absolute;
}

.cta__text {
  color: var(--purple);
}

.footer__main-container__col3__cta:hover {
  background: var(--white);
}

.footer__main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.deco-line {
  color: white;
}

@media (max-width: 990px) {
  .footer__main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer a {
    font-size: 18px;
  }
}
