/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--purple);
  margin: 0;
}

/* COLOUR PALETTE */
:root {
  --purple: #223773;
  --dark-purple: #1e2c6b;
  --blue: #76aede; 
  --pink: #c4a3cf;
  --grey: #cfcfcf;
  --white: #fdfdff;
}

/* TYPOGRAPHY */
h1 {
  font-family: poleno, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  color: var(--purple);
  margin-top: 2rem;
}

h2 {
  font-family: poleno, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: var(--pink);
  margin-top: 2rem;
}

h3 {
  font-family: poleno, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: var(--purple);
  margin-top: 2rem;
}

.regular-text {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: var(--purple);
}

.smaller-text {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: var(--purple);
}

.content3-text {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: var(--dark-purple);
  padding-right: 40px;
}

/* CTAs */
.cover__cta {
  font-family: nobel, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--purple);
  width: 300px;
  padding: 20px 60px;
  display: block;
  margin: 0 auto;
  color: var(--white);
  text-align: center;
  position: relative;
  bottom: 30px;
  border: solid transparent;
}

.cover__cta:hover {
  background-color: var(--white);
  color: var(--purple);
}

.content2__cta {
  font-family: nobel, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--purple);
  color: var(--white);
  width: 300px;
  margin-top: 10px;
  padding: 20px 60px;  
  text-align: center;
  border: solid 5px transparent;
  display: block;
}

.content2__cta:hover {
  background-color: var(--white);
  color: var(--purple);
  border: solid 5px var(--purple);

  
}

.content3__cta {
  font-family: nobel, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--purple);
  width: 300px;
  padding: 20px 60px;
  display: block;
  margin-top: 20px;
  color: var(--white);
  text-align: center;
  border: solid 5px transparent;
}

.content3__cta:hover {
  background-color: var(--white);
  color: var(--purple);
  border: solid 5px var(--dark-purple);
}

/* IMAGES */
.img-big {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 10px var(--blue);
}

.img-small {
  width: 153px;
  height: 153px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 10px var(--pink);
  position: relative;
  top: -100px;
}

.content2 img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 5px var(--blue);
}

.img-content3 {
  width: 247px;
  height: 247px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 10px var(--blue);
}

/* ARROWS */
.arrow-down {
  text-align: center;
}

.arrow-down img {
  padding-bottom: 60px;
}

.arrow-down img:hover {
  opacity: 60%;
}

/* SECTION COVER */

h1 {
  color: var(--blue);
  padding: 50px 50px 0px 50px;
  text-align: center;
  margin-top: -20px;
}

.smaller-text {
  color: var(--white);
  padding: 30px 150px;
  text-align: center;
  margin-top: 0px;
}

.cover {
  padding-top: 300px;
  background-image: url(/images/sp1-22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
  height: 100vh;
}

.cover__grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.grid-item1 {
  background: rgb(34, 55, 115, 0.8);
  /* background: var(--purple);
  opacity: 70%; */
}

.grid-item1 p {
  padding: 20px 200px 60px 200px;
}

.grid-item2 {
  position: relative;
  top: 60px;
}

.cover__cta .grid-item2 a {
  display: none;
}

/* SECTION CONTENT 1 BACKGROUND PURPLE */

.content1 {
  background-color: var(--dark-purple);
  width: 100%;
}
.content1 h2 {
  margin-top: 0px;
  text-align: right;
}

.content1 .smaller-text {
  color: var(--white);
  padding: 0px 0px 0px 70px;
  text-align: right;
}

.content1__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto -50px;
  gap: 80px;
  padding-top: 130px;
}

.content1__grid__left {
  /* background: blue; */
  padding-top: 150px;
}

.content1__grid__right {
  /* background: yellow; */
  padding-top: 50px;
  max-width: 400px;
}

.img-container {
  text-align: left;
}

/* SECTION CONTENT 1 BACKGROUND GREY  */
.grey {
  background-color: var(--grey);
}

.grey h2 {
  color: var(--purple);
}

.grey .smaller-text {
   color: var(--purple);
}

.grey .img-big {
  border: solid 10px var(--blue);
}

.grey .img-small {
  border: solid 10px var(--pink);
}

/* SECTION CONTENT 1 BACKGROUND WHITE */
.white {
  background-color: var(--white);
}

.white h2 {
  color: var(--purple);
  opacity: 90%;
}

.white .smaller-text {
  color: var(--purple);
}

.grey .img-big {
  border: solid 10px var(--blue);
}

.grey .img-small {
  border: solid 10px var(--pink);
}


/* SECTION CONTENT 2 */

.content2 {
  background-color: var(--white);
}

.content2 p {
  color: var(--purple);
}

.content2__grid {
  display: grid;
  grid-template-areas:
    "pic title title title"
    "pic date date date"
    "pic text text text"
    "pic cta cta cta";
  gap: 10px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.first {
  padding-top: 140px;
}

.content2__grid__item {
  /* background: pink; */
}

.pic {
  grid-area: pic;
  padding-right: 20px;;
}

.title {
  grid-area: title;
}

.date {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.text {
  grid-area: text;
}

.cta {
  grid-area: cta;
}

/* SECTION CONTENT 3 */

.content3 {
  background-color: var(--white);
}

.content3__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 80%;
  gap: 40px;
  padding: 180px 0 100px;
}

.content3__grid-item {
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content3 .blue {
  background-color: var(--blue);
  color: var(--dark-purple);
}

.content3 .blue:hover {
  border: solid 5px var(--blue);
}

.content3 .grey {
  background-color: var(--grey);
  color: var(--dark-purple);
}

.content3 .grey:hover {
  border: solid 5px var(--grey);
}
.content3__cta:hover {
  background-color: var(--white);
  color: var(--purple);
  border: solid 5px var(--dark-purple);
}

.content3 .img-kids {
  border: solid 10px var(--pink);
}

.content3 .img-teachers {
  border: solid 10px var(--blue);
}

.content3 .img-researchers {
  border: solid 10px var(--grey);
}

/* MEDIA QUERIES */

/* SECTION CONTENT 3 */
@media (max-width: 1150px) {
  
  .content3__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 80%;
    gap: 40px;
    padding: 100px 0 100px;
  }

  .content3-text {
    font-family: nobel, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: var(--dark-purple);
    padding-right: 50px;
  }

  .content3 img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 1000px) {
  /* GLOBAL STYLES */
  .img-big {
    width: 200px;
    height: 200px;
    border: 5px solid var(--blue);
    display: block;
    margin: -30px auto 50px;
  }

  .img-small {
    display: none;
    /* width: 76px;
    height: 76px;
    border: solid 5px var(--pink); */
  }

  .grey .img-big {
    border: solid 5px var(--blue);
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
    text-align: center;
  }

  /* CONTENT 3 */
  .content3 {
    padding-top: 30px;
  }

  .content3 a,
  img {
    text-align: center;
    margin: 20px auto 0px;
  }

  .content3 a {
    font-size: 14px;
  }

  .content3 p {
    font-size: 24px;
    text-align: center;
    padding-right: 0;
  }

  
/* SECTION CONTENT 2 */
@media (max-width: 1000px) {
  .content2__grid {
    display: grid;
    grid-template-areas:
      "pic"
      "title"
      "date"
      "text"
      "cta";
    width: 90%;
  }

  .content2 img {
    width: 150px;
    height: 150px;
  }

  .pic {
    text-align: center;
    padding-right: 0px;
  }

  .cta {
    display: flex;
    justify-content: center;
  }

  .regular-text {
    font-size: 20px;
  }

  .content2 h3 {
    margin-top: 0px;
  }
}
  
  /* ARROWS  */
  .arrow-down {
    padding-top: 20px;
  }

  .arrow-down img {
    width: 30px;
  }

/* COVER */
@media (max-width: 1390px) {

  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .smaller-text {
    font-size: 22px;
  }
  .cover {
    background-position: bottom;
  }

  .cover__grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -200px;
  }

  .grid-item1 p {
    padding: 10px 10px 20px;
  }
}

/* SECTION CONTENT 1 */
@media (max-width: 1000px) {
  
  .content1__grid {
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0 auto 0px;
  }

  .content1__grid__right {
    /* background: yellow; */
    padding-top: 50px;
    margin-bottom: -30px;
    max-width: 200px;
  }
  .content1__grid__left {
    order: 1;
    padding-top: 0px;
  }

  .content1 h2 {
    margin-top: 0px;
    text-align: left;
  }

  .content1 .smaller-text {
    /* color: var(--white); */
    text-align: left;
    padding: 10px 0px;
    text-align: left;
  }
}
