header {
  display: block;
  background: var(--purple);
  min-height: 120px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.logo {
  max-width: 300px;
  padding: 20px;
}

nav,
#hamburger-menu {
  display: none;
}

nav ul {
  list-style: none;
}

nav li {
  display: block;
}

nav a {
  text-decoration: none;
  color: var(--white);
  padding: 20px;
  display: block;
  text-align: center;
}

nav a:hover {
  color: var(--blue);
}

#active {
  color: var(--blue);
}

.hamburger-label {
  font-size: 3em;
  float: right;
  color: var(--grey);
  padding: 30px 10px;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul a {
  font-family: nobel, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

@media (min-width: 990px) {
  .logo {
    float: left;
  }

  nav {
    display: inline-block;
    position: relative;
    top: 30px;
    float: right;
  }

  .hamburger-label {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 20px 40px;
  }
}

@media (max-width: 370px) {
  .logo {
    width: 180px;
  }
}
